*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #fcf5eb;
    padding: 0px 35px;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
}
.navbar img:nth-child(1){
    width: 120px;
    height: 30px;
}
.download-button{
    display: flex;
    gap: 5px;
}
.nav-item{
    display: flex;
    gap: 30px;
    font-size: 18px;
}
button,li,a,p{
    text-decoration: none;
    list-style: none;
    color: black;
    font-family:"Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:100;
    font-size: 18px;
}
a,img{
    /* text-decoration: underline;
    text-decoration-color: #25D366;
    text-decoration-thickness: 2.2px; */
    cursor: pointer;
    position: relative;
}
a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: 0%;
    background-color: #25D366;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}
a:hover::after{
    transform: scaleX(1);
    background-color: #25D366;
    
}



.Features > img{
    transform: rotate(-90deg);
    padding-right: 3px;
    cursor: pointer;
}
.navbar button{
    padding: 15px 27px;
    border: none;
    border: 1px solid;
    border-radius: 30px;
    font-size: 18px;
    background-color: #25D366;
    display: flex;
    align-items: center;

}
.navbar button:hover{
    background-color: #1c1e21;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    
}
.Features{
    position: relative;
    cursor: pointer;
    /* width: 110px; */
    /* height: 30px; */
}
/* .Features::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: 0%;
    background-color: #25D366;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
} */
/* .Features:hover::after{
    transform: scaleX(1);
    background-color: #25D366;
    
} */
/* Section 1 - Maa Beti Image */
.firstSection{
    height: 100%;
    padding-top: 30px;
}
.imgMaa{
    background: url(./image/MaaBeti.png);
    height: 100%;
    border-radius: 20px;
}
.firstSection > p{
    text-align: end;
    opacity: 0.8;
    padding-top: 10px;
    font-size: 12px;
}
.firstSection button{
    padding: 16px 28px;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    background-color: #25D366;
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.firstSection button:hover{
    cursor: pointer;
    background-color: antiquewhite;
    transition: 1s all ease-out;
    transform-origin: bottom;
}
.firstSection h1{
    font-size: 80px;
    font-family:Helvetica, sans-serif;
    color: #ffffff;
    line-height: 80px;
}
.firstSection p{
    font-size: 12px;
    line-height: 16.08px;
    color: #ffffff;
}
.imgMaa .left button{
    gap: 8px;

}